*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, "Roboto";
    font-size: 14px;
}
#overall-top{
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1% 1% 1% 1%;
}
.head{
    width: 94%;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 15px;
    border: 1px solid rgb(77, 107, 254);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgba(228, 2, 2, 0.131);
}
.logo{
    display: flex;
}
.logo p{
    font-size: 28px;
    font-weight: 900;
}
.deep{
    color: rgb(77, 107, 254);
}
.seek{

}
.api_lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
}
#api{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgb(99, 109, 124);

}
#api svg{
    width: 12px;
    padding-left: 2px;
}
#lang{
    color: rgb(0, 0, 0);
}
.feat{
    height: 62vh;
    padding-top: 70px;
}
.line1{
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(9, 24, 45);
}
.title{
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
#title-name{
    font-size: 64px;
    color: rgb(77, 107, 254);
}
.title p{
    margin-top: 20px;
    font-size: 26px;
    font-weight: 900;
}
.options{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.get{
    width: 300px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.371);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}
.get h2{
    color: rgb(77, 107, 254);
    font-size: 22px;
}
.get p{
    line-height: 30px;
}